.b-counter {
    display: block;
}

.b-counter__button {
    margin: 0 8px;
    background: transparent;
    border: 4px solid #09D3AC;
    color: #09D3AC;
    cursor: pointer;
}

/*.b-counter{*/
/*    display: block;*/
/*    &__button{*/
/*         margin: 0 8px;*/
/*         background: transparent;*/
/*         border: 4px solid #09D3AC;*/
/*         color: #09D3AC;*/
/*         cursor: pointer;*/
/*     }*/
/*}*/
