.c-form-gallery{
  &__form{
    display: flex;
    flex-direction: column;
  }
  &__input, &__textarea, &__button, &__select{
    border: 4px solid #09D3AC;
    color: #09D3AC;
    background-color: #282c34;
    margin: 16px;
    padding: 16px;
    font-size: 16px;
  }
}
